<p id="notice"><%= notice %></p>

<div class="table-container col-8 mx-auto">


  <table class="table table-dark table-striped mt-5 col-8" style="background-color: #42484e; border-radius: 1vw;">
    <thead>
      <th>RUT</th>
      <th>PASSWORD</th>
      <th>BALANCE</th>
      <th>IS_CLIENT</th>
    </thead>
    <tbody>
      <tr>
        <td><%=@user.rut %></td>
        <td><%=@user.password %></td>
        <td class="h5">$<%=@user.balance %></td>
        <td><%=@user.is_client %></td>

      </tr>
    </tbody>
  </table>

  <table class="table table-dark table-striped mt-5" style="background-color: #42484e; border-radius: 1vw;">
  <thead>
  <tr>
    <th>AMOUNT</th>
    <th>ACTION</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @transactions.each do |transaction| %>
    <tr>
      <td

          <% if transaction.amount < 0 %>
            class="h5 text-danger"
          <% elsif transaction.amount > 0 %>
            class="h5 text-success"
          <% else %>
            class="h5"
          <% end %>

      >$ <%= transaction.amount %></td>
      <td><%= transaction.action %></td>
<!--      <td><a href="<%#=transaction_path(transaction, format:"html") %>" class="text-warning">Show Details</a></td>-->
<!--      <td><a href="<%#=edit_transaction_path(transaction, format:"html") %>" class="text-warning">Edit Transaction</a></td>-->
<!--      <td><%#= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
    </tr>
  <% end %>
  </tbody>
</table>
</div>

<!--<%#= link_to 'Edit', edit_user_path(@user, format:"html") %> |-->
<%#= link_to 'Back', users_path(format:"html") %>
